source https://www.nuget.org/api/v2

nuget Chiron
nuget EventStore.Client.Embedded.PreRelease
nuget EventStore.Client.PreRelease
nuget FSharp.Core
nuget Fuchu
nuget Logary.Adapters.EventStore ~> 3.0.3
nuget Newtonsoft.Json
nuget NuGet.CommandLine
nuget protobuf-net
nuget NLog